html {
    background-color: #2F4F4F;
}
main {
    background-color:#A9A9A9;
    border: 1px solid;
    border-color: #535353;
    border-radius: 10px;
    box-shadow: 1px 2px 5px var(--black);
    justify-items: center;
    margin: 20px auto;
    padding: 15px;
    width: fit-content;
}

#title {
    color: #FFFFE0;
    
    margin-top: 80px;
    margin-bottom: 25px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 50px;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: 50px repeat(5, 70px);
    grid-template-areas: 
        "display display display display"
        "ac c division multi"
        "seven eight nine subtrac"
        "four five six sum"
        "one two three equal"
        "zer zer point equal";
}

#display {grid-area: display;}
#buttonAC {grid-area: ac;}
#buttonC {grid-area: c;}
#buttonDivision {grid-area: division;}
#buttonMultiplication {grid-area: multi;}
#button7 {grid-area: seven;}
#button8 {grid-area: eight;}
#button9 {grid-area: nine;}
#buttonSubtraction {grid-area: subtrac;}
#button4 {grid-area: four;}
#button5 {grid-area: five;}
#button6 {grid-area: six;}
#buttonSum {grid-area: sum;}
#button1 {grid-area: one;}
#button2 {grid-area: two;}
#button3 {grid-area: three;}
#buttonEqual {grid-area: equal;}
#button0 {grid-area: zer;}
#buttonPoint {grid-area: point}

.display {
    margin: 2px;
    background: #E6E6FA;
    border: 1px solid gray;
    border-radius: 4px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: right;
    vertical-align: middle;
    line-height: 46px;
    font-size: 25px;
}
.button {
    display:inline-block; /*added*/
    color:#444; /*added*/
    background:#DDD; /*added*/
    margin: 2px;
    border: 1px solid #CCC;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    line-height: 66px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer; /*added*/
}
.button:active {
    color:rgba(0,0,0,0.8);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
    transform: scale(0.95);
}
#buttonEqual {
    line-height: 136px;
}

